@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer components {
  .text-heading1 {
    @apply font-bellefair text-[150px];
  }
  .text-heading2 {
    @apply font-bellefair text-[100px];
  }
  .text-heading3 {
    @apply font-bellefair text-[56px];
  }
  .text-heading4 {
    @apply font-bellefair text-[32px];
  }
  .text-heading5 {
    @apply font-barlow text-[28px] tracking-[4.75px];
  }
  .text-subHeading1 {
    @apply font-bellefair text-[28px];
  }
  .text-subHeading2 {
    @apply font-bellefair text-[14px] tracking-[2.35px];
  }
  .text-nav {
    @apply font-bellefair text-[16px] tracking-[2.7px] font-normal;
  }
  .text-body {
    @apply font-barlow text-[15px] leading-[25px] text-LightBlue font-normal;
  }
  .explore-btn {
    @apply bg-white rounded-full h-[150px] w-[150px] flex justify-center items-center;
  }
}
